<!-- Header  -->
<div class="row">
  <div class="col-md">
    <app-header [header]="header" [breadcrumbs]="breadcrumbs"></app-header>
  </div>
  <div class="col-md-auto">
    <!-- <app-article-add (reloadEvent)="getArticles()"></app-article-add> -->
    <app-task-add></app-task-add>
  </div>
</div>

<!-- Content  -->

<div class="text-end mb-2">
</div>

<div class="row">
  <div *ngFor="let task of task$" class="col-md-4 mb-2">
    <!-- <app-task-card (reloadEvent)="getArticles()" [article]="article"></app-task-card> -->
  </div>
</div>
