<div class="table-responsive bg-white">
  <table class="table table-vcenter">
    <thead>
      <tr>
        <th>Désignation</th>
        <th>Quantité</th>
        <th>Coef</th>
        <th>Prix</th>
        <th>Total</th>
        <th>Marge</th>
        <th class="w-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Désignation</td>
        <td class="text-muted"> 1 </td>
        <td class="text-muted"> 1 </td>
        <td class="text-muted"> 500 </td>
        <td class="text-muted"> 500 </td>
        <td class="text-muted"> 500 </td>
        <td>
          <a href="#">Edit</a>
        </td>
      </tr>

    </tbody>
  </table>
</div>
