<div class="row">
  <div class="col-md"></div>
  <div class="col-md-auto">
    <app-invoice-add [projet_id]="projet_id" (reloadEvent)="getDevis()"></app-invoice-add>
  </div>
  <div class="w-100 mb-1"></div>

</div>

<div class="card">
  <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Devis</th>
          <th scope="col">Description</th>
          <th scope="col">Statut</th>
          <th scope="col">Montant</th>
          <th style="width: 30px;">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr class="" *ngFor="let row of devis$">
          <td scope="row" (click)="open(content)">
            <div>Client Name</div>
            <div>{{ row.reference }}</div>
          </td>
          <td class="text-muted">{{ row.description }}</td>
          <td>
            <div>
              <span class="status status-blue">
              <span class="status-dot"></span>
                {{ row.status }}
              </span>
            </div>

        </td>
          <td class="fw-bold"> {{ row.montant }} CFA</td>
          <td>
            <button class="btn btn-primary btn-icon" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path> <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path> <path d="M16 5l3 3"></path> </svg>
            </button>
            <button class="btn btn-primary btn-icon" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <line x1="12" y1="5" x2="12" y2="19"></line> <line x1="5" y1="12" x2="19" y2="12"></line> </svg>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]="clientForm" class="row"> -->

      <div class="col-md-auto mb-3">
        <a href="#" class="avatar avatar-upload rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none" /> <line x1="12" y1="5" x2="12" y2="19" /> <line x1="5" y1="12" x2="19" y2="12" /> </svg>
          <span class="avatar-upload-text">Ajouter</span>
        </a>
      </div>
      <div class="col-md mb-3">
        <label class="form-label">Nom du client</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Nom">
      </div>

      <div class="col-md-12 mb-3">
        <label class="form-label">Nom du client</label>
        <select class="form-select" formControlName="select">
          <option value="">Sélectionner</option>
        </select>
      </div>

      <div class="col-md-12 mb-3">
        <label class="form-label">Description</label>
        <textarea formControlName="description" class="form-control" cols="30" rows="3" placeholder="Description"></textarea>
      </div>

      <div class="col-md-12 mb-3 d-flex justify-content-between">
        <button class="btn btn-secondary" (click)="modal.close()">Fermer</button>
        <button class="btn btn-primary" >Ajouter</button>
      </div>

    <!-- </form> -->
  </div>
</ng-template>
