<div class="row">
  <div class="col-md-6">
    <app-header [header]="header" [breadcrumbs]="breadcrumbs"></app-header>
  </div>
  <div class="col-md-6" class="text-end">

  </div>
</div>

<div class="card">

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Résumé</a>
      <ng-template ngbNavContent>
        <app-projet-resume></app-projet-resume>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Devis</a>
      <ng-template ngbNavContent>
        <app-invoices [projet_id]="projet_id"></app-invoices>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Rapports</a>
      <ng-template ngbNavContent>
        <app-reports [projet_id]="projet_id"></app-reports>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Contact</a>
      <ng-template ngbNavContent>
        Contacts
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>Finances</a>
      <ng-template ngbNavContent>
        <div class="card card-body">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-end">
              <button class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <line x1="12" y1="5" x2="12" y2="19"></line> <line x1="5" y1="12" x2="19" y2="12"></line> </svg>
                Transaction
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink>Batiment</a>
      <ng-template ngbNavContent>
        <app-buildings [projet_id]="projet_id"></app-buildings>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

