<div class="row">
  <div class="col-md-6">
    <app-header [header]="header" [breadcrumbs]="breadcrumbs"></app-header>
  </div>
  <div class="col-md-6" class="text-end">

  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="mt-4">
      <app-projet-resume (select)="toggleTab($event)"></app-projet-resume>
    </div>
  </div>
  <div class="col-md-10">
    <div *ngIf="active == 1">
      <app-invoices [projet_id]="projet_id"></app-invoices>
    </div>
    <div *ngIf="active == 2">
      <app-reports [projet_id]="projet_id"></app-reports>
    </div>
    <div *ngIf="active == 3">
      Contacts
    </div>
    <div *ngIf="active == 4">
      Finances
    </div>
    <div *ngIf="active == 5">
      <app-buildings [projet_id]="projet_id"></app-buildings>
    </div>
  </div>
</div>
