<div class="card p-2">
  <div class="row">

    <div class="col-auto" type="button">
      <img src="" alt="A" class="avatar avatar-xl">
    </div>

    <div class="col" type="button">
      <h2 class="fw-bold "> {{ article.designation }}</h2>
      <div class="fw-bold"> {{ article.price }}</div>
      <div class="fw-bold"> {{ article.quantity }}</div>
      <div class="text-muted" [innerHtml]="article.description"></div>
    </div>

    <div class="col-auto">
      <div class="btn btn-outline-primary btn-icon" (click)="editArticle()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path> <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path> <path d="M16 5l3 3"></path> </svg>
      </div>
    </div>

  </div>
</div>


<ng-template #editAchatID let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier un article</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="articleForm" class="row">

        <div class="col-md-auto mb-3">
          <a href="#" class="avatar avatar-upload rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none" /> <line x1="12" y1="5" x2="12" y2="19" /> <line x1="5" y1="12" x2="19" y2="12" /> </svg>
            <span class="avatar-upload-text">Ajouter</span>
          </a>
        </div>

        <div class="col-md mb-3">
          <label class="form-label required">Nom de l'article</label>
          <input type="text" formControlName="designation" class="form-control" placeholder="Nom">
        </div>

        <div class="w-100"></div>
        <div class="col-md-8 mb-3">
          <label class="form-label required">Référence de l'article</label>
          <input type="text" formControlName="reference" class="form-control" placeholder="Nom">
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label">Prix</label>
          <input type="text" formControlName="price" class="form-control" placeholder="Nom">
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label">Marque</label>
          <select class="form-select" formControlName="brand_id">
            <option [value]="brand.id" *ngFor="let brand of brand$">{{ brand.name }}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label">Fournisseur</label>
          <select class="form-select" formControlName="provider_id">
            <option [value]="provider.id" *ngFor="let provider of provider$">{{ provider.name }}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label required">Priorité</label>
          <select class="form-select" formControlName="priority">
            <option [value]="priority.niveau" *ngFor="let priority of priority$">{{ priority.name }}</option>
          </select>
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Description</label>
          <textarea formControlName="description" class="form-control" cols="30" rows="3" placeholder="Description"></textarea>
        </div>

      <div class="col-md-12 mb-3 d-flex justify-content-between">
        <button class="btn btn-secondary" (click)="modal.close()">Fermer</button>
        <button class="btn btn-danger" (click)="deleteArticle()">Supprimer</button>
        <button class="btn btn-primary" (click)="updateArticle()">Modifier</button>
      </div>

    </form>
  </div>
</ng-template>
