<div class="page-header">
  <div class="row align-items-center mw-100">
    <div class="col">
      <div class="mb-1">
        <ol class="breadcrumb" aria-label="breadcrumbs">
          <li class="breadcrumb-item" ><a routerLink="/index">Accueil</a></li>
          <li *ngFor="let breadcrumb of breadcrumbs"  routerLinkActive="active" class="breadcrumb-item"><a [routerLink]=breadcrumb.route >{{ breadcrumb.name }}</a></li>
        </ol>
      </div>
      <h2 class="page-title">
        <span class="text-truncate">{{ header.title }}</span>
      </h2>
    </div>
  </div>
</div>
