<button class="btn btn-primary" >
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <line x1="12" y1="5" x2="12" y2="19"></line> <line x1="5" y1="12" x2="19" y2="12"></line> </svg>
  Marque
</button>
<!--
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouer une marque</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="brandForm">

      <div class="col-md-12 mb-1">
            <label class="form-label required">Lien</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Url de l'article à importer" formControlName="link">
              <button class="btn btn-primary" (click)="getArticle()">Lien</button>
            </div>
      </div>

    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
