<div class="row">
  <div class="col-md">
    <app-header [header]="header" [breadcrumbs]="breadcrumbs"></app-header>
  </div>
  <div class="col-md-auto">
    <div class="btn-list">
      <app-invoice-row-add></app-invoice-row-add>
      <button class="btn btn-success" >Article</button>
      <button class="btn btn-primary" >Section</button>
    </div>
  </div>
</div>

<div class="row card p-2 my-2">
  <div class="col-md-12">
    <div [innerText]="invoice$?.description"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3  card p-2">
    <div class="fw-bold">Client</div>
    <div>Client name</div>
    <div>Client tel</div>
    <div>Client adresse</div>
    <hr>
    <div class="fw-bold">Client</div>
    <div>Remise</div>
    <div>TVA / BRS</div>
  </div>
  <div class="col-md-9">
    <app-invoice-table></app-invoice-table>
  </div>
</div>
