<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter">
          <thead>
            <tr>
              <th>Désignation</th>
              <th>Durée</th>
              <th>Start</th>
              <th>End</th>
              <th>Début</th>
              <th>Fin</th>
              <th>%</th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let planning of plannings"
            [class.bg-yellow]="planning.type ==1"
            [class.bg-red]="planning.type ==2"
            [class.bg-secondary]="planning.type ==3"

            >
              <td>{{ planning.name }}</td>
              <td class="text-">{{ planning.duree }}</td>
              <td class="text-">{{ planning.start }}</td>
              <td class="text-">{{ planning.end }}</td>
              <td class="text-"> {{ planning.debut }} </td>
              <td class="text-">{{ planning.fin }}</td>
              <td> <a href="#">Edit</a> </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>



  </div>
</div>
